@font-face {
    font-family: 'sans';
    src: url('https://raw.githubusercontent.com/haydenlauritzen/haydenlauritzen.github.io/blob/main/Font/Uni_Sans_Heavy.otf');
    font-weight: 100;
    font-style: normal;
} 